<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Thank You!</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding ion-text-center">
  <ion-icon name="checkmark-circle-outline" class="success-icon"></ion-icon>
  <h2>Your information has been successfully recorded.</h2>
  <p>We appreciate your time, {{ name }}!</p>
  <ion-button expand="block" fill="outline" (click)="dismissModal()">
    <ion-icon name="arrow-back" slot="start"></ion-icon>
    Go Back
  </ion-button>
</ion-content>